streamlit
tensorflow
torch
transformers
sacremoses
sentencepiece
tf-keras

spacy>=3.3.3
https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.3.3/ru_core_news_sm-3.3.3-py3-none-any.whl#egg=ru_core_news_sm==3.3.3